.profile-container {
  padding-block: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.profff {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
}

.profile-inp {
  display: flex;
  flex-direction: column;
}

.user-prof {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
}

.prof-cont {
  margin-top: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  border: 3px solid #ffa60f;
  padding-inline: 30px;
  padding-block: 20px;
}

.user-d-containerrrr {
  margin-block: 10px;
}

.addi {
  text-decoration: none;
  color: white;
  background-color: rgba(216, 11, 45, 0.781);
  padding-block: 10px;
  border-radius: 10px;
  padding-inline: 10px;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 17px;
  width: 200px;
}

.USER-details-container {
  display: flex;
  gap: 50px;
}
.user-details-sub-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-details-subcontainer-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.User-details-name {
  display: flex;
  gap: 5px;
}

.Management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  height: max-content;
}

.Management-container span {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 23px;
}

@media screen and (max-width:600px) {
.USER-details-container {
  flex-direction: column;
  gap: 15px;
}
}
